@import
url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

div {
    font-family: "Quicksand", sans-serif;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
    
    
}
header {
    width:100%;
    height: 50%;
    background-image:url("https://images7.alphacoders.com/423/423137.jpg");
}

header:hover{ 
    color:rgb(26, 158, 235);
    
}
h1 {
    
    font-size: 5rem;
    text-transform: uppercase;
}

.text-box {
    animation: slide-up 2s;

}

@keyframes slide-up {
    from{
        opacity: 0.2;
        line-height:50px;
    }

    to {
        opacity: 1;
        line-height:25px
    }
}

