
<main role="main" class="container">
    <div class="jumbotron">
        <header class="masthead">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                  <div class="page-heading">
                    <h1>Credits</h1>
                    <span class="subheading">Information about the developer</span>
                  </div>
                </div>
              </div>
            </div>
          </header>
      
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                <div class="text-box">
                <p>Hello world my name Tomislav Dundović and this is my Angular Todo notes with login</p>
                <p>Im a student at Univerity of Zadar and im studying IT. Its my last year of univerity </p>
                <p>Im very interested in computer hardware and sofware since i was a kid</p>
                <p>Currently im working as Sysadmin and in the past i was a IT Technician</p>
                <p>Besides hardware Im interested in software. I started programming in my first year of university</p>
                <p>Prgramming languages we used : Java, Python and little bit of JavaScript </p>
                <p>Also I love to edit videos. I was a freelancer for quite a time and it was my hoby</p>
                <p>For my editing programms i was using : Vegas Pro, After Effects, Premier Bridge, Photoshop and GIMP</p>
                
              </div>
              </div>
            </div>
          </div>
      
          <hr>
      
         
          <footer>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                  <p class="copyright text-muted">Copyright &copy; Tomislav 2022</p>
                </div>
              </div>
            </div>
          </footer>
    </div>
</main>