@import
url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

.pointer {
    cursor: pointer;
   
}

a{
    font-family: "Quicksand", sans-serif;
    
}

nav {
    border-bottom: 3px rgb(26, 158, 135);

}


