<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddItem(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="information">Add a new Todo task</label>
          <input type="text" id="infomration" class="form-control" name="information" ngModel required>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
          <button class="btn btn-danger" type="button" (click)="onDelete()">Delete</button>
        </div>
      </div>
    </form>
  </div>
</div>