
.login-wrapper {
    margin: 20rem auto;
    width: 20rem;
    color: #0062cc;
}

input {

    margin-bottom: 2rem;

}

button {
    margin-bottom : 2rem;
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}

hr.style-eight {
    height: 10px;
    border: 1;
    box-shadow: inset 0 9px 9px -3px #1714d1cc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    }
